.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 140px;
  height: 800px; /* 예시로 설정한 최대 높이, 필요에 따라 조정 */
}

.main {
  grid-column: 3 / 7;
  margin-top: 3vw;
}

.main2 {
  grid-column: 3 / 7;
  margin-top: 4vw;
  margin-bottom: 60px;
}

.pointtitle {
  color: #585865;
  font-size: clamp(24px, 5vw, 45px);
  font-weight: bold;
  grid-column: 1 / -1;
  text-align: center;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.possibletext {
  color: #585865;
  font-size: clamp(16px, 2vw, 26px);
  font-weight: bold;
}

.possiblemoney {
  color: #202632;
  font-size: clamp(16px, 2.2vw, 28px);
  font-weight: bold;
}

.line {
  grid-column: 3 / 7;
  height: 3px;
  background-color: #b5b5b7;
  width: 100%;
  margin-top: clamp(16px, 3vw, 40px);
  margin-bottom: 10px;
}

.horizontal1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.smaller {
  display: none;
}

@media (max-width: 1477px) {
  .horizontal1 {
    display: none;
  }
  .smaller {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.smallertext {
  color: #585865;
  font-weight: bold;
  font-size: 18px;
}

.horizontal2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 기존 설정 유지 */
  gap: 15px;
  margin-bottom: clamp(14px, 2vw, 30px);
  transition: background-color 0.3s ease;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
}

.horizontal2:hover {
  background-color: #eeeeee; /* 마우스 호버 시 배경색 */
}

.button {
  grid-column: 6;
}
.box{
  display: contents;
  border: solid 1px black;
  z-index: 1000;
}
.country {
  color: #585865;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 22px);
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.context {
  color: #585865;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 20px);
}

.money {
  color: #585865;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 20px);
  margin-left: 2px;
  margin-right: 25px;
}

.help {
  font-size: clamp(16px, 1.8vw, 20px);
  font-weight: bold;
  /* grid-column: 1 / -1; */
  text-align: center;
  cursor: pointer !important;
}

.subtitle {
  display: flex;
  justify-content: flex-end;
  margin-top: 4vw;
  color: #585865;
  font-weight: bold;
  font-size: clamp(14px, 1.3vw, 20px);
  margin-bottom: 10px;
  margin-right: 70px;
}

.maindiv {
  box-shadow:
    -6px 6px 10px rgba(0, 0, 0, 0.364),
    4px 4px 8px rgba(0, 0, 0, 0.121);
  margin-left: 70px;
  margin-right: 70px;
}

.col1,
.col2 {
  display: flex;
  align-items: center;
}

.col1 {
  justify-content: space-between;
  width: 100%;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row0 {
  font-size: clamp(14px, 2vw, 26px);
  font-weight: bold;
  color: #585865;
}

.col2 {
  margin-right: 2.5vw;
}

@media (max-width: 1200px) {
  .col2 {
    margin-right: 0px;
  }
}

.row1 {
  font-size: clamp(16px, 2vw, 26px);
  font-weight: bold;
  color: #585865;
}

.row2red,
.row2blue {
  font-size: clamp(12px, 2vw, 22px);
}

.row2red {
  color: #ff4343;
}

.row2blue {
  color: #0064ff;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.6vw;
}

.countryInfo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.countryInfo1 {
  display: flex;
  align-items: center;
  margin-left: 35px;
}


.text {
  position: absolute; /* 텍스트를 절대 위치로 설정 */
  bottom: 145%; /* 버튼의 상단에 텍스트를 위치 */
  left: 0%; /* 컨테이너의 가운데에 텍스트를 위치 */
  display: none; /*기본 상태에서 텍스트 숨김 */
  color: black; /* 텍스트 색상 설정, 필요에 따라 변경 가능 */
  width: 300px;
  margin-left: -57px;
}

.historybutton:hover .text {
  display: block; /* 마우스 오버 시 텍스트 보여줌 */
}

/* 컨테이너의 세로 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 둥글게 */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* 스크롤바 배경 색상 */
}