body {
  background-image: url('../../assets/login_singup_background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* font-family: 'Roboto', sans-serif; */
  overflow: hidden;
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.box {
  position: relative;
  justify-content: center;
  top: 0;
  opacity: 1;
  padding: 100px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.icon {
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  color: #585865;
  margin-top: 56px;
}

.title1 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 35px;
  color: #585865;
  margin-top: 42px;
}

.title2 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 34px;
  color: #585865;
  margin-top: 13px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 161px;
}
